/* 
    Document   : mystyle
    Created on : 2013-01-04, 14:45:46
    Author     : Usager
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

