<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>URL de la BD gestioncatalogue</description>
        <param-name>URLbaseDonnees</param-name>
        <param-value>jdbc:mysql://localhost/gestioncatalogue?user=root&amp;password=root</param-value>
    </context-param>
    <context-param>
        <description>Pilote pour mySQL</description>
        <param-name>piloteJDBC</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <servlet>
        <servlet-name>controleurFrontal</servlet-name>
        <servlet-class>com.gcf.controleur.controleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet de login.</description>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.gcf.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet de déconnection</description>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.gcf.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterMembre</servlet-name>
        <servlet-class>com.gcf.servlets.AjouterMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterCatalogue</servlet-name>
        <servlet-class>com.gcf.servlets.AjouterCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterReunion</servlet-name>
        <servlet-class>com.gcf.servlets.AjouterReunion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChercherListeDossiersReunions</servlet-name>
        <servlet-class>com.gcf.servlets.ChercherListeDossiersReunions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulterInfosDossierListeMAJ</servlet-name>
        <servlet-class>com.gcf.servlets.ConsulterInfosDossierListeMAJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChercherMembreCatalogue</servlet-name>
        <servlet-class>com.gcf.servlets.ChercherMembreCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulterListeCatalogue</servlet-name>
        <servlet-class>com.gcf.servlets.ConsulterListeCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulterInfoReunion</servlet-name>
        <servlet-class>com.gcf.servlets.ConsulterInfoReunion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionCatalogue</servlet-name>
        <servlet-class>com.gcf.servlets.InscriptionCatalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterDossier</servlet-name>
        <servlet-class>com.gcf.servlets.AjouterDossier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierPermissionMembre</servlet-name>
        <servlet-class>com.gcf.servlets.ModifierPermissionMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangerCatalogueCourant</servlet-name>
        <servlet-class>com.gcf.servlets.ChangerCatalogueCourant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckerPermissions</servlet-name>
        <servlet-class>com.gcf.servlets.CheckerPermissions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterMiseAJour</servlet-name>
        <servlet-class>com.gcf.servlets.AjouterMiseAJour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FermerReunion</servlet-name>
        <servlet-class>com.gcf.servlets.FermerReunion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsulterODJ</servlet-name>
        <servlet-class>com.gcf.servlets.ConsulterODJ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifierOrdreDuJour</servlet-name>
        <servlet-class>com.gcf.servlets.modifierOrdreDuJour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierInfoDossier</servlet-name>
        <servlet-class>com.gcf.servlets.ModifierInfoDossier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voirCRReunion</servlet-name>
        <servlet-class>com.gcf.servlets.voirCRReunion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleurFrontal</servlet-name>
        <url-pattern>/ctrl.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterMembre</servlet-name>
        <url-pattern>/AjouterMembre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCatalogue</servlet-name>
        <url-pattern>/AjouterCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterReunion</servlet-name>
        <url-pattern>/AjouterReunion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChercherListeDossiersReunions</servlet-name>
        <url-pattern>/ChercherListeDossiersReunions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterInfosDossierListeMAJ</servlet-name>
        <url-pattern>/ConsulterInfosDossierListeMAJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChercherMembreCatalogue</servlet-name>
        <url-pattern>/ChercherMembreCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterListeCatalogue</servlet-name>
        <url-pattern>/ConsulterListeCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterInfoReunion</servlet-name>
        <url-pattern>/ConsulterInfoReunion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionCatalogue</servlet-name>
        <url-pattern>/InscriptionCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterDossier</servlet-name>
        <url-pattern>/AjouterDossier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierPermissionMembre</servlet-name>
        <url-pattern>/ModifierPermissionMembre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangerCatalogueCourant</servlet-name>
        <url-pattern>/ChangerCatalogueCourant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckerPermissions</servlet-name>
        <url-pattern>/CheckerPermissions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterMiseAJour</servlet-name>
        <url-pattern>/AjouterMiseAJour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FermerReunion</servlet-name>
        <url-pattern>/FermerReunion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsulterODJ</servlet-name>
        <url-pattern>/ConsulterODJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierOrdreDuJour</servlet-name>
        <url-pattern>/modifierOrdreDuJour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voirCRReunion</servlet-name>
        <url-pattern>/voirCRReunion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierInfoDossier</servlet-name>
        <url-pattern>/modifierInfoDossier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
